@import '../abstract/variables';

.heading-accent{
    color: $accent;
    width: 100%;
    font-size: 1.1rem;
    // display: none;
}

.heading-accent-left{
    text-align: left;
}
.heading-accent-center{
    text-align: center;
}
