@import '../abstract/variables';

button.active-btn{
    padding-inline: 6px;
    border-left: 4px solid  $accent;
    // transform: translateY(-2px);
    transition: all 0.3s ease;
    font-weight: 500;
    background-color: rgba(217, 235, 59,0.1);
    box-shadow: 0.5px 0.5px 2px $accent;
    color:$accent
}

.tab-btn:hover{
    background-color: rgba(217, 235, 59,0.1);
    cursor: pointer;
}

.tab-btn{
    font-weight: bolder;
    
}



.tab-content{
    transition: all 0.7s ease;
}

.work-point{
    position: relative;
    padding-left: 20px;
    // line-height: 18px;
    padding-block: 10px;
}

.work-points{
    margin-top: 10px;
}

.work-point::before {
    content: attr(data-icon);
    position: absolute;
    left: 0px;
    color: $accent;
    font-size: 1.25em;
  }