@import '../abstract/variables';

.line-heading{
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    padding-inline: 1rem;
    .line{
        width: 100%;
    }
    .index{
        font-weight: 500;
        font-size: 1.5rem;
    }
}