.load{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-color: red;
    overflow: hidden;
}

body{
    overflow: overlay;
}

.App{
    transition: transform 0.5s ease-in ,height 1s ease ,opacity 1s ease-in-out ,font-size 1s ease-out;
}
    
.hide{
    height: 0px;
    font-size: 0px;
    transform: translateY(-40%);
    opacity: 0;
    overflow: hidden;
    transition: transform 1s ease-in ,height 1s ease ,opacity 1s ease-in-out ,font-size 1s ease-out;
}
