@import '../abstract/variables';

.load{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-color: red;
    overflow: hidden;
}

body{
    overflow: overlay;
}

.App{
    transition: transform 1s ease-in ,height 2s ease ,opacity 3s ease-in-out ,font-size 1s ease-out;
}
    
.hide{
    height: 0px;
    transform: translateX(-200px);
    opacity: 0;
    overflow: hidden;
    transition: transform 2s ease-in ,height 1s ease ,opacity 2s ease-in-out ,font-size 1s ease-out;
}

.nav-hide{
    height: 0px;
    width: 0;
    font-size: 0px;
    box-shadow: 0 0 500px 0.5px $accent;
    transform: translateX(50px);
    opacity: 0;
    overflow: hidden;
    transition: transform 1s ease-in ,height 1s ease ,opacity 1s ease-in-out ,font-size 1s ease-out;
}
.navigation-container{
    transition: transform 1s ease-in ,height 1s ease ,opacity 1s ease-in-out ,font-size 1s ease-out ,box-shadow 5s ease;
    // box-shadow: 0 0 2px 0.5px $accent;
}

