@import '../abstract/variables';

.side-panel{
    width: max(300px,60%);
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	display: flex;
    transition: transform 1s ease;
	flex-direction: column;
    // box-shadow: 0 0 100px 0.5px  rgba($color: $accent, $alpha: 0.1);
    z-index: 1000;
}

.side-panel.side-panel-hide{
    transform: translateX(100%);
    // display: none;
}